* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}
body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background: linear-gradient(20deg, #8629c4 , #5d05d1 );
}
.card {
      height: 440px;
      width: 320px;
      background-color: #a1a1a171;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      filter: blur();
      border: 2px solid rgba(255, 255, 255, 0.2);
      box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.5);
      border-radius: 30px;    
}
h2{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 38px;
      font-weight: 300;
      text-shadow: 2px 2px 4px rgb(24, 31, 124);
}
.input-temp{
      display: flex;
      justify-content: space-between;
      width: 80%;
      height: 40px;
}
label{
      font-size: 22px;
      font-weight: 600;
      color: #000000;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
      height: 32px;
      width: 80px;
      border: 2px solid black;
      padding: 10px;
      border-radius: 8px;
      background: #eda5ff;
      color: #000000;
      text-align: center;
}

button{
      padding: 10px 20px;
      background-color: #4a1491;
      color: #ffffff;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 500;
      font-size: 18px;
      border-radius: 20px;
      border: 2px solid #310a55;
}